:root {
    --bg-black: #0C1014; /* Вернул твой цвет */
    --bg-dark: #121212;
    --text-white: #F5F5F5;
    --text-gray: #A8A8A8;
    --border-color: #262626;
    --accent-blue: #0095F6;
    --story-gradient: linear-gradient(47deg,rgba(252, 176, 69, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(131, 58, 180, 1) 100%);

    --sidebar-width: 245px;
    --rightbar-width: 320px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-black);
    color: var(--text-white);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    overflow: hidden; /* Скролл будет только в правой части экрана */
}

a { text-decoration: none; color: inherit; }
ul { list-style: none; }
button { cursor: pointer; border: none; background: none; }

/* Кастомный скроллбар */
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    background-color: var(--bg-black);
}
::-webkit-scrollbar-thumb {
    background-color: #262626;
    border: 4px solid var(--bg-black);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}